
Min.httpd/.vs/Min.httpd/v15/Server/sqlite3/storage.ide-wal
Min.httpd/.vs/Min.httpd/v15/Server/sqlite3/storage.ide-shm
Min.httpd/.vs/Min.httpd/v15/Server/sqlite3/storage.ide
Min.httpd/.vs/Min.httpd/v15/Server/sqlite3/db.lock
Min.httpd/.vs/Min.httpd/v15/.suo
